// _tips.scss

.tips-section {
    background: $gradient-tips;
    border-radius: 35px;
    padding: 84px 70px;
    margin-top: 96px;
  }
  
  .tip-title {
    color: $primary-color;
    font-size: $font-medium;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-top: 45px;
  }
  
  .tip-description {
    color: $secondary-color;
    font-size: $font-small;
    line-height: 1.5;
    margin-top: 24px;
  }
  