// _variables.scss

// Colors
$background-color: #fff;
$primary-color: #253347;
$secondary-color: #5e6e85;
$highlight-color: #345ff6;
$shadow-color: rgba(143, 174, 207, 0.25);
$gradient-primary: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
$gradient-tips: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
$gradient-limitations: linear-gradient(135deg, #f7fafc, #ffffff);

// Font sizes
$font-large: 64px;
$font-medium: 24px;
$font-small: 16px;
